/*
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */


body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  margin: 10px;
  padding:15px 5px;
  width: 480px;
  height: 550px;
}

#main {
  bottom: 10px;
  left: 10px;
}

form, tr, td {
  border: 2px solid red;
  padding: 5px solid yellow;
  
  text-align: center;
  vertical-align: middle;
}

a {
  font-weight: bold;
}

#table-build-log, #table-build-config, #table-build-depend, #table-build-info, #table-progress-info, #table-status-info{
  width: 480px;
}

#td-build-reason, #td-user-email {
  text-align: left;
  vertical-align: baseline;
}

#ws-build-log {
  overflow: auto;
  height: 160px;
  text-align: left;
}

#ws-sln-select, #ws-build-options{
  text-align: left;
}

#ws-btn-build {
  text-align: right;
  vertical-align: bottom;
}

#ws-worker-running{
  font-weight: bold;
  color: green;
}

#ws-worker-idle{
  font-weight: bold;
  color: gray;
}

#ws-worker-error{
  font-weight: bold;
  color: red;
}