<?xml version="1.0" ?><conf>
<file path="common\global.db"/>
<file path="baiduan\1249104436_rpt.dat"/>
<file path="baiduan\1637436557_rpt.dat"/>
<file path="baiduan\1984836949_rpt.dat"/>
<file path="baiduan\2538628110_rpt.dat"/>
<file path="baiduan\2855292350_rpt.dat"/>
<file path="baiduan\3796107346_rpt.dat"/>
<file path="baiduan\650962123_rpt.dat"/>
<file path="baiduan\bdavcache.db"/>
<file path="baiduan\bdkvlogsstat.db"/>
<file path="baiduan\bdkvlogsstat.db-journal"/>
<file path="baiduan\hipscache.db"/>
<file path="baiduan\isolationdb.db"/>
<file path="baiduan\white_list.db"/>
<file path="baiduan\bdmsocleaner\sogarbageconfig.xml"/>
<file path="baiduan\bdmsocleaner\sotraceconfig.xml"/>
<file path="baiduan\config\4500.dat"/>
<file path="baiduan\config\6003.dat"/>
<file path="baiduan\config\7000.dat"/>
<file path="baiduan\config\8001.dat"/>
<file path="baiduan\config\805.dat"/>
<file path="baiduan\config\810.dat"/>
<file path="baiduan\config\812.dat"/>
<file path="baiduan\config\900.dat"/>
<file path="baiduan\ftsomanager\activestartup.xml"/>
<file path="baiduan\ftsomanager\optimizebackup.dat"/>
<file path="baiduan\ftsomanager\optimizehistory.xml"/>
<file path="baiduan\ftsomanager\startupclass.dat"/>
<file path="baiduan\swmanager\reportcache.dat"/>
<file path="baiduan\swmanager\tasklist.dat"/>
<file path="baiduan\ftsomanager\bdmdisabled\service\service.xml"/>
<file path="baiduan\socleaner\log\2013_5_29.log"/>
<file path="baiduan\socleaner\log\logflag.ini"/>
<file path="baiduan\swmanager\property\swconfigversion.xml"/>
</conf>
